/*  Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .home-contant {
        text-align: center;
        width: 90%;
        margin: auto;
    }

    .techno-video {
        display: none;
    }

    .stickyheader {
        top: 0;
        bottom: auto;
    }

    .home-contant p {
        width: auto;
    }

    .tour-div h2 {
        text-align: center;

    }

    .tour-btn {}

    .about-contant .align-left {
        margin: 0;
        padding: 20px
    }

    .object04 {
        top: 0;
    }

    .main-contant ul li a {
        border-color: #00B22D;
    }

    .testimonial .section-head {
        padding-top: 30px;
        margin: auto;
    }

    .player-box {

        position: relative;
        height: 100vh;
    }

    .player-items {

        width: 100%;
        position: relative;
        height: 50vh;
        overflow: auto;
        top: 50%;
    }

    .player {
        width: 100%;
        position: absolute;
        max-height: 50vh;
        background: #fafafa;
        overflow: auto;
    }

    .player li .comment .client-img {
        display: none;
    }

    .comment-value {}

    .client-comment {
        width: auto !important;
    }

    .player li .comment {
        /*         display: flex; */
    }

    .team-members-slider {}

    .contact-sec {
        width: auto;
    }

    .team-members-slider {
        width: 100%;
    }

    .team-members-slider .main-pos {
        margin: auto !important;
        left: 50%;
        transform:
            translate(-50%, 0);
    }
}

/*  Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .techno-video {
        right: 0;
        text-align: right;
    }

    .techno-video button {
        width: 200px;
    }

    .home-contant {
        width: 420px;
    }

    .home-contant h1 {}

    .home-contant p {}

    .stickyheader {
        top: 0;
        bottom: auto;
    }

    .tour-div h2 {
        text-align: center;
    }

    .object04 {
        top: 0px;
    }

    .player-box {

        position: relative;
        height: 740px;
    }

    .player-items {

        width: 100%;
        position: relative;
        height: 50%;
        overflow: auto;
        top: 50%;
    }

    .player {
        width: 100%;
        position: absolute;
        max-height: 50%;
        background: #fafafa;
        overflow: auto;
    }

    .player li .comment .client-img {
        display: none;
    }

    .comment-value {}

    .client-comment {
        width: auto !important;
    }

    .single-widget {
        text-align: center
    }

    .pr-5 {
        padding: inherit !important;
    }

    .footer-logo {
        width: 50%;
        margin: auto;
    }

    .contact-sec {
        width: auto;
    }
}

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .techno-video {
        right: 8%;
        text-align: right;
    }

    .techno-video button {
        width: 200px;
    }

    .main-contant ul li a {
        border-color: #00B22D;
    }

    .section-head-white {
        padding: 10px 0;
        margin-bottom: 0 !important;
    }

    .section-head-white p {
        color: #959393;
    }

    .about-contant .align-left {
        margin: 0;
        border-radius: 50px 20px;
    }

    .interior-design img {
        border-radius: 10px 50px;
    }

    .comment-value {

        width: 289px;
        height: 125px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .client-comment {
        width: auto !important;
    }

    .player-box {
        height: 357px;
    }

    .player-items {
        height: 358px;
    }

    .single-widget {
        padding: inherit !important;
    }

    .player li .comment .client-comment p {
        padding-bottom: 10px
    }


}

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .client-comment {

        padding-bottom: 12px;
    }

    .comment-value {

        width: 433px;
        height: 125px;
        overflow-x: auto;
    }

    .player-items {

        height: 438px;
    }

    .player-box {

        height: 438px;
    }
}


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}